<h1>Ask Fyber</h1>
<form id="fyber-form">
  <div>
    <label for="uid">UID</label>
    <input type="text" name="uid" placeholder="Enter UID">
  </div>
  <div>
    <label for="pub0">Pub0</label>
    <input type="text" name="pub0" placeholder="Enter Pub0">
  </div>
  <div>
    <label for="page">Page</label>
    <input type="text" name="page" placeholder="Enter Page">
  </div>
  <button type="submit" class="btn">Retrieve Results</button>
</form>
<div id="fyber-results"></div>
